@tailwind base;
@tailwind components;
@tailwind utilities;

.verify_input {
    border-bottom: 1px solid #cccc;
    width: 100px !important;
}

.page{
    max-width: 750px;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
}

.btnSubmit{
    cursor: pointer;
padding: 10px;
color: white;
background-color: #D24325;
border-radius: 60px;
}