@tailwind base;
@tailwind components;
@tailwind utilities;

.verify_input {
  border-bottom: 1px solid #cccc;
  width: 100px !important;
}

.page {
  max-width: 750px;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
}

.btnSubmit {
  cursor: pointer;
  padding: 10px;
  color: white;
  background-color: #d24325;
  border-radius: 60px;
}

.cardShadow {
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: var(--swiper-pagination-bottom, -5px);
} */
.swiper-pagination-bullet-active {
  background: #205960;
}

.wallet {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
.wallet2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

.MuiBox-root.css-ekhbh2 {
  width: 48%;
  margin: auto;
}

.btnSubmitPopUp {
  cursor: pointer;
  padding: 10px;
  color: #d24325;
  background-color: #fdd7cf;
  border-radius: 10px;
  width: 28%;
  margin: auto;
  margin-top: 2%;
  border: 1px solid #d24325;
}
.btnSubmitPopUp2 {
  cursor: pointer;
  padding: 10px;
  color: #d24325;
  background-color: #fdd7cf;
  border-radius: 10px;
  width: 40%;
  margin: auto;
  margin-top: 2%;
  border: 1px solid #d24325;
}
button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.text-\[\#D14224\].css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  color: #d24325;
}

.GrayBtnSubmit {
  cursor: pointer;
  color: white;
  background-color: #c4c4c4;
  border-radius: 60px;
}

.RedBtnSubmit {
  cursor: pointer;
  color: white;
  background-color: #d24325;
  border-radius: 60px;
}

.GreenBtnSubmit {
  cursor: pointer;
  color: white;
  background-color: #205960;
  border-radius: 60px;
}
.GrayBtn {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  border-radius: 20px;
}

.blurBanner {
  filter: grayscale(60%);
}
.css-1wnsr1i {
  border: none !important;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  color: red;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorPrimary.MuiIconButton-sizeMedium.css-1kuq5xv-MuiButtonBase-root-MuiIconButton-root {
  color: rgba(0, 0, 0, 0.54) !important;
}
.MuiBox-root.css-1wnsr1i {
  border-radius: 10px;
}

.bottomBoxShadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.left {
  display: flex;
  justify-content: end;
}

.ShapesLeft {
  padding: 20px;
  color: white;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  background-color: #4f777f;
}

/* right */

.right {
  display: flex;
  justify-content: start;
}
.ShapesRight {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: rgb(0, 0, 0);
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
  background-color: #f1f1f1;
}

.bottomMenuBar {
  max-width: 720px;
  margin: 0 auto;

  width: 100%;
}

.fixedTopAbsolute {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MuiBox-root.css-1x9kklj {
  margin: auto;
  max-width: 720px;
}
@media (max-width: 767px) {
  .left {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }

  .ShapesLeft {
    padding: 4vw;
  }

  /* right */

  .ShapesRight {
    padding: 4vw;
  }
  .MuiBox-root.css-1x9kklj {
    width: 98%;
  }

  .MuiBox-root.css-ekhbh2 {
    width: auto !important;
    padding-bottom: 90px;
  }
}

.modalContainer {
  overflow: hidden;
  width: 100%;
  overflow: auto;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.MuiBox-root.css-z8ilzv {
  margin: auto;
  overflow: hidden;
  width: 55%;
  z-index: 40;
  height: 90vh;
}


